fastapi==0.115.12
python-jose==3.5.0
2captcha-python==1.5.1
bcrypt==4.0.1
motor==3.7.1
email_validator==2.2.0
gunicorn==23.0.0
pymongo==4.13.0
pydantic==2.11.5
pytz==2025.2
python-dotenv==1.1.0
requests==2.32.4
validate_docbr==1.11.0
uvicorn==0.34.3
aio-pika==9.5.5
